<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
      <h3>Hello</h3>
      <p> On our <a href="http://ostagram.ru/lenta">portal</a> you can touch art without knowing how to draw and
        even write properly. By uploading a photo that you want to process, and a photo,
        the style of which will be used, you can get a completely unexpected result that couldn't
        even be dreamed of in childhood. </p>
      <p>For example, we take a photo of your girlfriend (if of course you have one, hello Zhenek),</p>
      <%= image_tag("/megan.jpg", class: "imagesStyle") %>
      <p></p>
      <p>and add a bit of art, worth about ten million men's socks,</p>

      <%= image_tag("/starry_night.jpg", class: "imagesStyle") %>
      <p></p>
      <p>we get a masterpiece that can be hung opposite the stove.</p>
      <%= image_tag("/starry_megan.png", class: "imagesStyle") %>
      <p></p>
      <p> The process of creating a painting by computer is of course not as labor-intensive as trying to draw it yourself, but
        it takes a long time. Let's say that an ordinary home computer needs one and a half to two hours for this.
        Therefore, you should not expect the result instantly, but rather browse through the <a href="http://ostagram.ru/lenta">feed</a> of already
        finished works of the computer Van Gogh.
      <p>

      <p> And now the smart text that I don't understand myself. For creating paintings, convolutional neural networks and
        artistic style algorithm by Leon A. Gatys, Alexander S. Ecker, and Matthias Bethge are used.
        You can learn more about this portal by following the link to
        <a href="https://github.com/SergeyMorugin/ostagram">GitHub</a>.</p>

      <p> To add a photo, you need to register. The process is as simple as five kopecks, and as a gift you will
        receive your processed photos by email as soon as they are "drawn".</p>
      <p> If you have questions and suggestions, write to:</p>
      <div class="textUserStyle-lg"><p>info@ostagram.ru</p></div>
      <p><a href="https://vk.com/ostagram_ru">VKontakte</a></p>
      <p><a href="https://www.instagram.com/ostagram.ru/ ">Instagram</a></p>
      <% if !client_signed_in? %>
        <div class="actions">
          <%= link_to "Register", new_client_registration_path, class: "btn btn-primary btn-large", style: "width: 100%" %>
        </div>
        <h3></h3>
        <div class="actions">
          <%= link_to "Go to view", lenta_path, class: "btn btn-primary", style: "width: 100%" %>
        </div>
      <% end %>
    </div>

  </div>


</div>
