<div class="navbar navbar-fixed-top navbar-inverse  visible-lg" role="navigation">
  <div class="container headerStyle-lg">
    <div id="logo-lg">
      <%= link_to(image_tag('/logo.png', class: "imagesStyle"), root_path) %>
    </div>

    <ul class="nav nav-pills pull-right">
      <% if client_signed_in? && current_client.admin? %>
        <li><%= link_to "Admin", admin_pages_main_path %></li>
      <% end %>
      <% if client_signed_in? %>

        <li><%= link_to "Add images", new_queue_image_path, class: "btn btn-primary" %></li>

        <li><%= link_to "My collection", queue_images_path %></li>
      <% end %>
      <li><%= link_to "Feed", lenta_path %></li>
      <li><%= link_to "About the project", about_path %></li>
      <% if client_signed_in? %>
        <li><%= link_to "Sign out", destroy_client_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_client_session_path %></li>
      <% end %>
    </ul>

  </div>
</div>


<div class="navbar navbar-fixed-top navbar-inverse  hidden-lg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navButtonStyle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div id="logo-xs">
        <%= link_to(image_tag('/logo.png', class: "imagesStyle"), root_path) %>
      </div>
    </div>

    <div class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav">
        <% if client_signed_in? && current_client.admin? %>
          <li><%= link_to "ADMIN", admin_pages_main_path %></li>
        <% end %>
        <% if client_signed_in? %>
          <li><%= link_to "PROCESS IMAGE", new_queue_image_path %></li>
          <li style="border-top: 1px solid #000000;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);"><%= link_to "MY COLLECTION", queue_images_path %></li>
        <% end %>
        <li><%= link_to "FEED", lenta_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <% if client_signed_in? %>
          <li><%= link_to "SIGN OUT", destroy_client_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'SIGN IN', new_client_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="hidden-lg" style="padding-bottom: 9%">
</div>
